.intro {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 50px 80px;
        background-color: rgb(234, 232, 232);

        h1 {
            color: rgb(118, 115, 115);
            font-size: 56px;
            line-height: 80px;
            text-transform: uppercase;
            padding-top: 40px;
            margin-right: 80px;
        }

        h4 {
            padding-top: 15px;
            color: red;
            font-size: 22px;
            line-height: 20px;
        }

        p {
            color: rgb(167, 162, 162);
            padding-top: 50px;
            font-size: 12px;
            line-height: 24px;
        }

        img {
            filter: brightness(93%);
        }
    }

    &__buttonContainer {
        padding-top: 30px;
        display: flex;

        button {
            border: 3px solid green;
            border-radius: 20px;
            padding: 10px 50px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    &__right {
        position: relative;
        img {
            filter: brightness(40%) contrast(80%);
            z-index: 0;
        }
    }
}


@media screen and (min-width: 768) and (max-width: 1079) {
    .intro {
        background-color: black;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr;
    }
}

